body {
    margin: 0;
    padding: 0;
    background: #16181d;
    color: #b0b2cb;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}

.entry {
    display: flex;
    width: 100%;
}

button {
    width: calc(100% - 30px);
    display: block;
    background: #252f39;
    margin: 10px auto;
    padding: 10px 0;
    text-transform: uppercase;
    border: 1px solid #b0b2cb;
    color: #b0b2cb;
    font-weight: 900;
    font-size: 20px;
}

button:disabled {
    color: #485664;
}

fieldset {
    border: none;
    background: none;
    width: 100%;
}

.dailyTotal {
    color: rgb(184, 94, 82);
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input, input:disabled {
    color: #b0b2cb;
    background: none;
}

input {
    border: 1px solid #333;
    display: block;
    width: 50%;
}

#calorieTable {
    display:block;
    width: 100%;
    margin: 0 auto;
}