body {
  padding: 0px;
  margin: 0px;
  background: #1a1a1c;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  background: #000000 url("assets/video_backup_photo.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

header video {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  display: block;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

header .overlay {
  z-index: 4;
  width: 100%;
  position: absolute;
  background: #000;
  height: 50vh;
  display: block;
  opacity: 60%;
}

.overlay-text {
  position: absolute;
  z-index: 5;
  color: #fff;
  width: 70%;
  text-align: center;
  cursor: default;
}

.short-info {
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 16px;
  margin-bottom: 20px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.quote {
  font-size: 40px;
  line-height: 54px;
  font-weight: 900;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #6d6d6d;
}

nav a {
  width: 33.3333%;
  display: block;
  color: #dadada;
  font-size: 14px;
  line-height: 20px;
  padding: 30px 0px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.gray1 {
  background: #384659;
}

.gray2 {
  background: #404040;
}

nav a span {
  padding-right: 10px;
  font-size: 15px;
}

main {
  width: calc(100% - 100px);
  max-width: 1000px;
  margin: 50px auto;
}

.content-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  margin: 100px 0px;
}

.small-side {
  width: 250px;
}

h2 {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.small-side-photo {
  height: 250px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  border: 3px solid #fff;
  opacity: 0.9;
}

.big-side {
  width: calc(100% - 300px);
  text-align: left;
}

.photo3 {
  background: url("assets/photo_3.png");
  background-size: cover;
}

.photo2 {
  background: url("assets/photo_2.png");
  background-size: cover;
}

.photo1 {
  background: url("assets/photo_1.png");
  background-size: cover;
}

.content-section table {
  width: 90%;
}

.content-section td,
.content-section th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  margin: 0px;
}

.content-section th {
  color: #ffdb87;
}

.contact-section {
  display: block;
  padding: 50px;
  background: #252f3c;
}

.contact-flex {
  display: flex;
  gap: 50px;
  max-width: 1000px;
  justify-content: space-between;
  margin: 0px auto;
  align-items: center;
}

.contact-form {
  width: 500px;
}

.contact-form h2 {
  text-align: left;
  color: #a5b2c4;
  margin-top: 10px;
}

.input-flex {
  display: flex;
  gap: 15px;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 100%;
  display: block;
  color: #fff;
  background: #384659;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  resize: none;
}

.contact-form button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  background: #d5a960;
  color: #384659;
}

::placeholder {
  color: #a5b2c4;
  opacity: 1;
}

.contact-form textarea {
  height: 100px;
}

.contact-info {
  width: 240px;
  color: #a5b2c4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 900;
  margin-top: 60px;
}

.contact-info span {
  padding-right: 10px;
}

.copyright-info {
  margin-top: 50px;
  font-weight: normal;
}

.contact-section a {
  color: inherit;
  text-decoration: none;
}

#current-year {
  padding-right: 0px;
}

.mobile-photo {
  display: none;
}

.mobile-photo-offset {
  background-position: 0% 30%;
}

.mobile-only {
  display: none;
}

/* tablet styles */

@media screen and (max-width: 850px) {
  .contact-info p {
    margin: 25px 10px;
  }

  .responsive-photo-flex {
    display: flex;
    gap: 20px;
  }

  .mobile-photo {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 250px;
    border: 3px solid #fff;
    opacity: 0.9;
  }

  .mobile-only {
    display: none;
  }

  .content-section h2 {
    margin-bottom: 20px;
  }

  .content-section {
    margin: 50px 0px;
  }

  .quote {
    font-size: 28px;
    line-height: 42px;
  }

  .small-side {
    width: 100%;
  }

  .small-side h2 {
    text-align: left;
  }

  .small-side-photo {
    display: none;
  }

  .big-side {
    width: 100%;
  }

  .content-section:nth-of-type(2) {
    flex-wrap: wrap-reverse;
  }

  .contact-flex {
    flex-wrap: wrap;
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0px;
  }

  .copyright-info {
    margin-top: 0px;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    padding: 20px;
  }

  .contact-info {
    font-size: 16px;
  }

  .content-section {
    font-size: 16px;
    line-height: 24px;
  }

  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    font-size: 16px;
  }
}

/* mobile style */

@media screen and (max-width: 500px) {
  main {
    width: calc(100% - 50px);
  }

  .contact-section {
    padding: 25px;
  }

  .tablet-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  h2 {
    font-size: 30px;
    line-height: 30px;
  }

  .quote {
    font-size: 22px;
    line-height: 33px;
  }

  nav a {
    padding: 22px 0px;
    font-size: 12px;
  }

  .contact-info {
    display: block;
  }

  .copyright-info {
    margin-top: 50px;
  }

  .input-flex {
    display: block;
  }
}

/* tiny mobile style */

@media screen and (max-width: 350px) {
  .quote {
    font-size: 20px;
    line-height: 26px;
  }

  nav a span {
    display: none;
  }
}

/* landscape mode tablet+mobile style */

@media screen and (max-height: 530px) {
  .quote {
    font-size: 22px;
    line-height: 33px;
  }
}
